#dashboard {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

#content-area {
    margin-left: 25%;
    padding: 20px;
}

.leave-form {
    margin-top: 20px;
}